:root {
    /* colors */
    --transparent: rgb(0 0 0 / 0%);
  
    /* primary colors */
    --primary-basic-red: #8243D6;
    --primary-basic-blue: #0050ff;
    --primary-basic-white: #fff;
    --primary-dark-gray: #1f1f1f;
    --primary-basic-gray: #707070;
    --primary-light-gray: #f5f5f5;
  
    /* secondary colors */
    --secondary-gray: rgb(173 173 173);
    --secondary-gray-80: rgb(173 173 173 / 80%);
    --secondary-gray-64: rgb(173 173 173 / 64%);
    --secondary-gray-56: rgb(173 173 173 / 56%);
    --secondary-gray-20: rgb(173 173 173 / 20%);
    --secondary-gray-32: rgb(173 173 173 / 32%);
    --secondary-gray-8: rgb(173 173 173 / 8%);
    --secondary-red: rgb(255 112 112);
    --secondary-red-64: rgb(255 112 112 / 64%);
    --secondary-red-56: rgb(255 112 112 / 56%);
    --secondary-red-20: rgb(255 112 112 / 20%);
    --secondary-red-32: rgb(255 112 112 / 32%);
    --secondary-red-8: rgb(255 112 112 / 8%);
    --secondary-blue: rgb(102 150 255);
    --secondary-blue-64: rgb(102 150 255 / 64%);
    --secondary-blue-56: rgb(102 150 255 / 56%);
    --secondary-blue-20: rgb(102 150 255 / 20%);
    --secondary-blue-32: rgb(102 150 255 / 32%);
    --secondary-blue-8: rgb(102 150 255 / 8%);
  
    /* text colors */
    --text-primary: #1f1f1f;
    --text-secondary: #707070;
    --text-muted: #999;
    --text-white: #fff;
  
    /* background colors */
  
    --background-primary: #996ad6d6;
    --background-dark: #1f1f1f;
    --background-white: #ffffff;
    --background-secondary: #ddc2ff
    ;
    --background-dark-64: rgb(31 31 31 / 64%);
    --background-dark-48: rgb(31 31 31 / 48%);
    --background-dark-32: rgb(31 31 31 / 32%);
    --background-dark-16: rgb(31 31 31 / 16%);
    --background-dark-8: rgb(31 31 31 / 8%);
  
    /* border colors */
    --border-color: #330570;
    --border-color-light: #e0e0e0;
    --border-color-dark: #000;
  
    /* animation settings and shadow colors */
    --transition-duration: 0.3s;
    --transition-timing: ease-in-out;
    --box-shadow-default: 0 2px 4px rgb(0 0 0 / 10%);
  
    /* fonts */
    --font-size-small: 12px;
    --font-size-base: 16px;
    --font-size-large: 24px;
    --line-height-small: 1.4;
    --line-height-base: 1.5;
    --line-height-large: 1.8;
    --font-family-primary: 'Lora', serif;
  
    /* border-radius */
    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-large: 12px;
  
    /* z-indexes */
    --z-index-auto: auto;
    --z-index-0: 0;
    --z-index-1: 10;
    --z-index-2: 20;
    --z-index-3: 30;
    --z-index-4: 40;
    --z-index-5: 50;
    --z-index-6: 60;
    --z-index-7: 70;
    --z-index-8: 80;
    --z-index-9: 90;
    --z-index-10: 100;
    --z-index-modal: 1000;
    --z-index-tooltip: 1100;
    --z-index-overlay: 1200;
    --z-index-toast: 1300;
    --z-index-popover: 1400;
    --z-index-dropdown: 1500;
  }