.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.form {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  /* heigh: 240px; */
  max-width: 400px;
}

.formItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.formItem label {
  display: block;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 500;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-size: 15px;
  box-sizing: border-box;
  /* margin-bottom: px; */
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #1890ff;
  color: #fff;
  border: none;
  margin-top: 6px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.button:hover {
  background-color: #6a0dad;
}

.buttonContainer {
  margin-top: 20px;
}
